<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.andtut">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".draganddrop.DragAndDropActivity" />
        <activity android:name=".notifications.NotificationActivity" />
        <activity android:name=".notifications.NotificationView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".notifications.NotificationActivity" />
        </activity>
        <activity android:name=".locationbasedservices.LocationBasedServicesActivity">
        </activity>
        <activity android:name=".sendingemail.SendingEmailActivity">
        </activity>
        <activity android:name=".sendingsms.SendingSmsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>